<div id="movies-of-cinema" class="tab-content active">
    <div class="container">
        <div class="row">
            <div class="col">
            
            
                
            <div class="container"><br>
<div class="text-right" style="width: 728px;margin: 0 auto;"><span class="publicidade_texto" style="text-align: right;width: 728px;color: #BBB;font-size: 13px;">PUBLICIDADE</span></div>
    <div class="text-center">
<div id="sas_120059" style=""></div>
<div id="sas_124337" style="display: none;"></div>
        <img src="http://orientcinemas.com.br/banners/728x90.png" style="display:none" width="728" class="img img-responsive ad728" e2yil93a4="">
</div>

</div> 

            

                <div class="alert alert-success" id="avisoCurto" style="display: none; background-color:lightgreen;color:#000">
                    <p>
                    Reabertura marcada para dia 01/07 (quinta-feira).
                    </p>
                </div>
        
            <a href="">
            <img src="" class="img img-responsive">
            </a>
            <div id="pick-movie-date" class="pick-wrapper d-md-flex align-items-center">
                                                <input type="hidden" name="session_date" id="session_date" value="2023-12-10">
                    <span>Selecione a data.</span>
                    <div id="date-list" class="glide">

                    <!-- style="width: 630px;margin:0 auto;" -->
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                            
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-10">
                                                                        
                                        <label class="boxed-label" style="background-color: #c7e9f9" for="date-09/12"><span>Domingo</span><strong>10/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-11">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Segunda</span><strong>11/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-12">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Terça</span><strong>12/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-13">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Quarta</span><strong>13/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-20">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Quarta</span><strong>20/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-21">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Quinta</span><strong>21/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-22">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Sexta</span><strong>22/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-23">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Sábado</span><strong>23/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-24">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Domingo</span><strong>24/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-25">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Segunda</span><strong>25/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-26">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Terça</span><strong>26/12</strong></label>
                                    
                                </a>
                                </li>
                                                                        
                                                                        <li class="glide__slide">
                                <a href="?session_date=2023-12-27">
                                                                        
                                        <label class="boxed-label" style="background-color: transparent" for="date-09/12"><span>Quarta</span><strong>27/12</strong></label>
                                    
                                </a>
                                </li>
                                                                                                            



                            </ul><!-- / .glide__slides -->
                        </div><!-- / .glide__track -->

                        <!-- <div class="glide__arrows" data-glide-el="controls">
<button class="glide__arrow glide__arrow--left" data-glide-dir="<"><<</button>
<button class="glide__arrow glide__arrow--right" data-glide-dir=">">>></button>
</div> -->
                        
                    </div><!-- / #date-list -->
                </div><!-- / #pick-movie-date -->

                <div id="pick-movie-results"><div id="movie-1547" class="movie-result pick-wrapper d-md-flex" style="">
                              <img class="d-none d-lg-flex align-self-start" src="https://cinemais.vendabem.com/arquivos/arquivos_cinema/cartazes_filmes/f32.jpeg" alt="(dub)jogos-vorazes-a-cantiga-dos-passaros-e-das-serpentes">
                              <div class="movie-content">
                                  <div class="movie-header-content d-md-flex justify-content-between">
                                      <div class="title">
                                          <h3>Jogos&nbsp;Vorazes&nbsp;-&nbsp;A&nbsp;cantiga&nbsp;dos&nbsp;pássaros&nbsp;e&nbsp;das&nbsp;serpentes</h3>
                                          <span class="duration">157min</span>
                                      </div><!-- / .title -->
                                      <div class="tags">
                                    
                                            <span class="tag genre">AÇÃO</span>
                                            <span class="c content-rating rating-14">14</span>
                <a href="https://cinemais.com.br/duvida/como-funciona-a-classificacao-indicativa/" target="_blank" style="color:#013771; top: 2px;position: relative;"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
                                      
                                  
                                      </div><!-- / .tags -->
                                  </div><!-- / .movie-header-content -->
                                  <div style="501px !important; justify-content: flex-start; text-align: left" class="movie-session-content">
                                  
                                      <input value="https://cinemais.vendabem.com/compra_ingresso_online/escolha_ingressos/?filial=012&amp;filme=32&amp;sessao=10122023_1430&amp;sala=5" type="radio" id="session-3291958" name="session_hour_1547">
                                      <label class="boxed-label extended" for="session-3291958">
                                          <div class="row justify-content-between align-items-center">
                                              <div class="room">&nbsp;Jardim&nbsp;Norte&nbsp;</div>
                                              <div class="room-type"></div>
                                              <div class="view">2D</div>
                                          </div>

                                          <div class="row justify-content-between align-items-center">
                                              <div class="dub-leg">DUB</div>
                                              <div class="session-element-hour d-flex flex-column hour align-self-end">14:30</div>
                                          </div>

                                          <div class="">
                                          
                                          </div>

                                      </label>    
                                  
                                      <input value="https://cinemais.vendabem.com/compra_ingresso_online/escolha_ingressos/?filial=012&amp;filme=32&amp;sessao=10122023_1745&amp;sala=5" type="radio" id="session-3291959" name="session_hour_1547">
                                      <label class="boxed-label extended" for="session-3291959">
                                          <div class="row justify-content-between align-items-center">
                                              <div class="room">&nbsp;Jardim&nbsp;Norte&nbsp;</div>
                                              <div class="room-type"></div>
                                              <div class="view">2D</div>
                                          </div>

                                          <div class="row justify-content-between align-items-center">
                                              <div class="dub-leg">DUB</div>
                                              <div class="session-element-hour d-flex flex-column hour align-self-end">17:45</div>
                                          </div>

                                          <div class="">
                                          
                                          </div>

                                      </label>    
                                  
                                      <input value="https://cinemais.vendabem.com/compra_ingresso_online/escolha_ingressos/?filial=012&amp;filme=32&amp;sessao=10122023_2100&amp;sala=5" type="radio" id="session-3291960" name="session_hour_1547">
                                      <label class="boxed-label extended" for="session-3291960">
                                          <div class="row justify-content-between align-items-center">
                                              <div class="room">&nbsp;Jardim&nbsp;Norte&nbsp;</div>
                                              <div class="room-type"></div>
                                              <div class="view">2D</div>
                                          </div>

                                          <div class="row justify-content-between align-items-center">
                                              <div class="dub-leg">DUB</div>
                                              <div class="session-element-hour d-flex flex-column hour align-self-end">21:00</div>
                                          </div>

                                          <div class="">
                                          
                                          </div>

                                      </label>    
                                  
                                  </div><!-- / .movie-session-content -->
                              </div><!-- / .movie-content -->
                              <div class="movie-cta d-flex flex-column justify-content-center">
                                  <span>Selecione o horário</span>
                                  <a href="" class="button primary pink disabled">Comprar</a>
                              </div><!-- / .movie-cta -->
                          </div><!-- / .movie-result--><div id="movie-1553" class="movie-result pick-wrapper d-md-flex" style="">
                              <img class="d-none d-lg-flex align-self-start" src="https://cinemais.vendabem.com/arquivos/arquivos_cinema/cartazes_filmes/f66.jpeg" alt="(dub)as-aventuras-de-poliana">
                              <div class="movie-content">
                                  <div class="movie-header-content d-md-flex justify-content-between">
                                      <div class="title">
                                          <h3>As&nbsp;aventuras&nbsp;de&nbsp;Poliana</h3>
                                          <span class="duration">89min</span>
                                      </div><!-- / .title -->
                                      <div class="tags">
                                    
                                            <span class="tag genre">AVENTURA</span>
                                            <span class="c content-rating rating-10">10</span>
                <a href="https://cinemais.com.br/duvida/como-funciona-a-classificacao-indicativa/" target="_blank" style="color:#013771; top: 2px;position: relative;"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
                                      
                                  
                                      </div><!-- / .tags -->
                                  </div><!-- / .movie-header-content -->
                                


                

                <!-- /.orient-observations -->

            </div><!-- / .col -->
        </div><!-- / .row -->
    </div><!-- / .container -->
</div>