.form-inline .nav-search-bar {
    height: 5px; /* You can adjust the height as needed */
  }
  
  /* Adjust the height of the search button */
  .form-inline .nav-search-button {
    height: 24px; /* You can adjust the height as needed */
    line-height: 1; /* Center the text vertically */
    padding: 0.25rem 0.5rem; /* Adjust padding as needed */
    padding-left: 0.50rem;
  }

  .admin-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes the full height of the viewport */
  }
  
  form {
    width: 300px; /* Adjust the width as needed */
  }
  
  .button-container {
    margin-top: 20px; /* Add some spacing between the form and the button */
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes the full height of the viewport */
  }